<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Darwin</title>
    <link rel="stylesheet" href="../static/darwin.css">
    <!-- <link rel="stylesheet" href="{{url_for('static', filename='darwin.css')}}"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script></head>
<body>
    <div class="container">
        <h2>Interview for {{ jobName }}</h2>
        <div class="container">
            
            <div class="row">
                <div class="col-auto m-1 bubble bot">
                    <div class="bubble-text">
                        Hey hi!
                    </div>
                </div>
            </div>
        
            <div class="row justify-content-end">
                <div class="col-auto m-1 bubble user">
                    <div class="bubble-text">
                        yeah hey wassup!
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
</html>